* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
    margin-bottom: 12px;
}

nav {
    margin-bottom: 1.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    column-gap: .75rem;
    justify-content: center;
}

nav ul li {
    cursor: pointer;
    padding: 8px 12px;
    font-weight: bold;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.post header .actions {
    display: flex;
    flex-flow: row nowrap;
    column-gap: .875rem;
}

.btn {
    border: 1px solid #222;
    border-radius: 8px;
    display: block;
    cursor: pointer;
    padding: 8px 12px;
    text-decoration: none;
}

.btn-primary {
    background: #60b62e;
    border-color: #245308;
    color: #245308;
}

.btn-danger {
    background: rgba(239, 44, 44, 0.87);
    border-color: rgb(61 13 13);
    color: rgb(61 13 13);
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

form > div {
    display: flex;
    column-gap: 1.2rem;
    padding: 6px 36px;
    align-items: center;
}

form > div label {
    flex: 1 1 10%;
    text-align: right;
    font-weight: bold;
}

form > div input,
form > div textarea {
    flex: 1 1 90%;
    border: 1px solid #c6c6c6;
    padding: 8px;
    border-radius: 6px;
}

form div.submit {
    justify-content: flex-end;
}

form div.submit button {
    border: 1px solid #245308;
    background: #60b62e;
    color: #245308;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px 24px;
}
