<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add blog post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Update Post: "{{post.title}}"</h1>
    <nav>
        <ul>
            <li>
                <a href="{{url_for('index')}}" title="Go to Blog &raquo;">
                    Blog
                </a>
            </li>
            <li>
                <a href="{{url_for('add')}}" title="Go to Add Post &raquo;">
                    Add Post
                </a>
            </li>
        </ul>
    </nav>
    <div class="post">
        <form method="post" action="{{url_for('update', post_id=post.id)}}">
            <div>
                <label for="post-title">Title</label>
                <input type="text" id="post-title" name="title" value="{{post.title}}" />
            </div>
            <div>
                <label for="post-author">Author</label>
                <input type="text" id="post-author" name="author" value="{{post.author}}" />
            </div>
            <div>
                <label for="post-content">Content</label>
                <textarea id="post-content" name="content" rows="20">{{post.content}}</textarea>
            </div>
            <div class="submit">
                <button type="submit">Update Post</button>
            </div>
        </form>
    </div>
</body>
</html>
